/*basic css*/
p{
  color: black;
  font-family: Helvetica;
  font-size: 16px;
  overflow: auto;
}
.row{
  background-color: #F8F9FB;
}

.col-md-2 d-none d-md-block bg-light sidebar{
  height: 100%;
}

main{
  border-left: 1.25px solid #e8e8e8;
}

.header-image{
    border: 2px solid grey;
    border-radius: 5px;
    height: 100%;
    width: 60%;
}

.spacer{
  border: .5px solid #e8e8e8;
}

/*NavBar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 10px;
}


@media handheld {
img{
  height: 100px;
  width: 200px;
  }
}
