html{
    background-color: #f7f7f7 !important;
    width: 100%;
    height: 100%;
}

.header-images{
  width: 100%;
  height: 100%;
}

/*start of navbar css*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 10px;
}
/*end of navbar css*/

/*start of header css*/

.jumbotron{
  border-radius: 0px;
  text-align: center;
  background-color: #333 !important;
  margin-bottom: 0;
  /* The image used */
  background-image: url("scifi_Scene.png");


  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5c9aff !important;
}

.
/*end of header css*/
